.codeBlockLayouts{
  translate: none;    
  position: relative; 
  border-radius: 0.75rem;     
  overflow: hidden;           
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1); 
  margin-top: 1.5rem;         
  margin-bottom: 1.5rem;
}