.subTitle{
position: absolute;
padding-right: 8px;
padding-top: 8px;
background-color: #1f2937;
color: white;
font-size: 12px;
padding: 4 8px;
border-radius: 4px;

:hover{
  background-color: #48576b;

}
}